<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, illo debitis vero 
    aliquid aspernatur nihil atque ullam, nesciunt reiciendis, vitae labore pariatur architecto. 
    Deserunt molestias iure alias laborum animi ducimus.
</p>